.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.medium-violet-red {
  background-color: mediumVioletRed;
}
.midnight-blue {
  background-color: midnightBlue;
}
.gray {
  background-color: gray;
}
